<!DOCTYPE html>
<html lang="en" data-theme="dark-poole">
  <div class="background">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/assets/base.css">
      <title>
          {{ page.title }} &middot; {{ site.title }}
      </title>
    </head>

    <body>
      <div class="container content">
        {% include heading.html %}

        <main>
          {{ content }}
        </main>

        {% include footer.html %}

        

    </body>
  </div>
</html>

